.coverImage {
    display: flex;
    width: 90%;
    height: 90%;
    /* display: block; */
    align-items: center;
  margin-left: 2em;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: auto;
  }

  /* .buttonContainer {
      display: flex;
      justify-content: end;
      padding: 0em;
      align-items: center;

  } */

