.loginImage {
    display: flex;
    width: 80%;
    height: 80%;
    /* display: block; */
    align-items: center;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  }

  .registerImage {
        display: flex;
        width: 80%;
        height: 80%;
        /* display: block; */
        align-items: center;
      margin-left: 30px;
      margin-right: 40px;
      margin-top: 1em;
      /* margin-bottom: 1em; */

  }

  /* .logRegForm {
      display: flex;
      justify-content: center;
      padding-top: 2em;
  } */

  .logRegTitle {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      display: flex;
      justify-content: center;
  }

  .loginEmail {
      padding-right: 5em;
      padding-left: 3em;
  }

  .loginPassword {
    padding-right: 5em;
      padding-left: 3em;
  }

 .loginSubmit {
      color: black;
      position: absolute;
      left: 50px;
  }

.submit {
    color: black;
      align-items: center;
}

.registerName {
    position: absolute;
    margin-right: 100px;
    margin-left: 90px;
    top: 300px;
}

.registerEmail {
    position: absolute;
    margin-right: 100px;
    margin-left: 90px;
    top: 375px;
}

.registerPassword {
    position: absolute;
    margin-right: 100px;
    margin-left: 90px;
    top: 450px;
}

.registerSubmit {
    color: black;
    position: absolute;
    left: 90px;
    bottom: 165px;
}

.passwordLogText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 15px;
}

.emailLogText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 15px;
}

.nameLogText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 15px;
}